body{
    background-color: #F3F5FC;
   }
   
   .grid-container{
   
       display: grid;
       grid-template-columns: 2fr 1fr;
       gap: 1em;
   
   }
   
   .div_1{
   
       margin-left: 8em;
       width: 83%;
   
   }
   
   .texto_1{
   
       background-color: #F3F5FC;
       color: #0A3871;
       font-family: 'Inter';
       font-size: large;
       font-weight: 400;
       margin: 10px 10px;
       width: 92%;
       height: 28em;
       resize: none;
       outline: none;
       border: none;
   }
   
   .texto_1::placeholder{
       
       color: #0A3871;
       font-family: 'Inter';
       font-size: large;
       font-weight: 400;
   }
   
   
   
   .indicaciones{
       font-family: 'Inter';
       margin: 1em;
   
   }
   
   .div_botones{
       margin: 1em;
       padding: 1em;
       width: 90%;
       text-align: center;
   }
   
   .div_2{
       background-color:#FFFFFF;
       box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
       border-radius: 32px;
       text-align: center;
       justify-content: center;
       align-items: center;
   }
   
   .texto_2{
       font-family: 'Inter';
       font-size: large;
       text-align: center;
       font-weight: 400;
       margin: 20px 20px;
       width: 93%;
       height: 25em;
       resize: none;
       border: none;
       outline: none;
       display: none;
   
   }
   
   .div_imagen{
   
       margin-top: 7em;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   
   #mensaje_1{
   
       color: #343A40;
       font-family: 'Inter';
       font-style: bold;
       font-weight: 700;
       font-size: 24px;
   
   }
   
   #mensaje_2{
   
       color: #495057;
       font-family: 'Inter';
       font-weight: 400;
       font-size: 12px;
       margin: 0;
   
   }
   
   #boton_copiar{
       margin: 5px auto;
       display: none;
   
   }
   
   footer{
       margin-top: 10px;
       
   }
   
   footer > p{
       
       font-family: 'Ysabeau';
       background-color: #577D86;
       color: #fff;
       font-size: 16px;
       padding: 10px;
       text-align: center;
   }
   
   
   
   
   @media (max-width: 767px){
   
       .grid-container{
   
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
       }
   
       .div_1{
           margin-left: 0em;
           width: 100%;
   
       }
   
       .texto_1{
   
           height: 10em;
   
       }
   
       .div_2{
           width: 100%;
   
       }
   
   
       .texto_2{
   
           margin: 10px;
           height: 10em;
   
       }
   
       .img_muñeco{
   
           display: none;
       }
   
       .div_imagen{
           margin-top: 0;
   
       }
   
       #mensaje_1{
           font-size: 20px;
           margin-bottom: 0;
       }
   
       #mensaje_2{
           margin: 10px;
       }
   
       footer > p{
       
           font-size: 10px;
       }
   }
   
   @media (min-width: 767px) and (max-width: 1023px) {
   
       .grid-container{
   
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
       }
   
        
       .div_1{
           margin-left: 0em;
           width: 100%;
   
       }
    
      
       .div_2{
           width: 100%;
   
       }
   
       .texto_1{
           height: 15em;
       }   
   
       .texto_2{
   
           margin: 10px;
           height: 10em;
   
       }
   
       .div_imagen{
           margin-top: 10px;
   
       }
   
       #mensaje_1{
           font-size: 20px;
           margin-bottom: 0;
       }
   
       #mensaje_2{
           margin: 10px;
       }
   }